<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}"></head>



<body>

<div th:replace="~{fragments/navbar :: navbar}">
  Navbar
</div>





<div class="jumbotron text-center">
  <div class="container text-light text-center">
    <h1 class="display-5"><strong class="bg-blur rounded">Admin Dashboard</strong></h1>
    <h1 class="display-5"><strong class="bg-blur rounded"></strong></h1>
  </div>

  <div th:each="s:${notAssigned}" th:object="${s}" id="subscription_task"    class="mt-3 rounded badge-info p-3">
    <div id="Subtask">
<!--    <span class="p-3" th:text="|Name:*{subscription.name.name()}|" >*{subscription.name}</span>-->
      <span class="p-3" th:text="|Id: *{id}|" >Id: *{id}</span>
    <span class="p-3" th:text="|From : *{addressFrom}|">From : *{addressFrom}</span>
    <span class="p-3" th:text="|To : *{addressTo}|">To : *{addressTo}</span>
    </div>
    <h1></h1>
  </div>

    <form id="assignForm" method="put"

          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
      <div class="form-group row">
        <div class="col-sm-10">
        <label for="Assign" class="col-sm-2 col-form-label">Assign Subscription</label>
        </div>
      </div>

          <div class="form-group row">
            <label for="subscriptionId" class="col-sm-2 col-form-label">Subscription</label>
            <div class="col-sm-10">
              <select   id="subscriptionId" name="subscriptionId" class="custom-select"
                        aria-describedby="subscriptionId">
                <option value="" selected>Subscription</option>
                <option id="subId" th:each="s : ${notAssigned}" th:object="${s}" th:value="*{id}" th:text="*{id}">Subscription Type</option>
              </select>

            </div>
          </div>
          <div class="form-group row">
            <label for="driverId" class="col-sm-2 col-form-label">Driver</label>
            <div class="col-sm-10">
              <select id="driverId" name="driverId" class="custom-select"
                        aria-describedby="driverId">
                <option value="" selected>Driver</option>
                <option id="driversId" th:each="d : ${drivers}" th:object="${d}" th:value="*{id}" th:text="*{email}">S</option>
<!--                <a id="driverId" th:value="*{id}"></a>-->
              </select>

            </div>
          </div>


      <div class="form-group">
        <input type="submit"
               class="btn"
               id="assign"
               value="Assign"/>
      </div>
      <script th:src="@{/Js/AssignDriver.js}"></script>
    </form>
  </div>


  <div class="row">

    <!-- #################################################  New Subscription Type  ################################################## -->

    <div  class="col-sm-6 mb-3 mb-sm-0">
      <div class="card" style="width: auto">


        <div class="card-body">
          <h5 class="card-title">Create new Subscription Option</h5>
          <p class="card-text"> Creation of new subscription options.</p>
          <a th:href="@{/admins/{id}/createSubscription(id=${#authentication.principal.id})}" class="btn btn-primary">Create</a>

        </div>
      </div>
    </div>
    <!-- #################################################################################################################### -->

    <div  class="col-sm-6 mb-3 mb-sm-0">

      <!-- #########################################################  Create New Car  ########################################################### -->

      <div class="card" style="width: auto">


        <div class="card-body">
          <h5 class="card-title">Create new driver</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a th:href="@{/admins/{id}/createDriver(id=${#authentication.principal.id})}" class="btn btn-primary">Go somewhere</a>

        </div>
      </div>

    </div>
  </div>

  <!-- ##############################################  Create new Garage ############################################################################## -->

  <div class="row">
    <div  class="col-sm-6 mb-3 mb-sm-0">
      <div class="card" style="width: auto">


        <div class="card-body">

          <h5 class="card-title">Create new Car</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a th:href="@{/admins/{id}/createCar(id=${#authentication.principal.id})}" class="btn btn-primary">Go somewhere</a>

        </div>
      </div>
    </div>


    <!-- ##########################################################  Info about income ######################################################### -->
    <div  class="col-sm-6 mb-3 mb-sm-0">

      <div class="card" style="width: auto">


        <div class="card-body">

          <h5 class="card-title">Create Garage</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a th:href="@{/admins//{id}/createGarage(id=${#authentication.principal.id})}" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

    </div>
  </div>











  <script th:src="@{/Js/Admin.js}"></script>

<div>
  <footer></footer>
</div>

</body>
</html>
