<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}"></head>


<body>

<div th:replace="~{fragments/navbar :: navbar}">

</div>
<section class="orderCreation-fluid">
<div class="container">
    <h1 class="display-5 text-center"><strong class="bg-blur rounded">Change SubscriptionType</strong></h1>
    <h1 class="display-5"><strong class="bg-blur rounded"></strong></h1>
</div>



<!--<input type="hidden" id="adminId" name="adminId" th:object="${admin}" th:value="*{admin.id}">-->

<div class="container-fluid">
    <form id=addForm method="post"
          th:action="@{/api/admins/{id}/changeSubscription(id=${admin.id})}"
          class="main-form mx-auto  justify-content-center">

        <div  class="form-group">
            <label for="description" class="text-white font-weight-bold">Description</label>
            <input id="description"
                   name="description"
                   type="text"
                   class="form-control"
                   placeholder="description"/>
            <small  id="descriptionError" class="invalid-feedback">
                Description should be at least 5 characters.
            </small>
        </div>
        <div  class="form-group">
            <label for="priceRate" class="text-white font-weight-bold">Price Rate</label>
            <input id="priceRate"
                   name="priceRate"
                   type="number"
                   class="form-control"
                   placeholder="priceRate"/>
            <small  id="priceRateError" class="invalid-feedback">
                Price rate should be positive number.
            </small>
        </div>

        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Subscription Type</label>
            <div class="col-sm-10">

                <select  id="name" name="name" class="custom-select">
                    <option th:each="s : ${T(com.SoftUni.DriverServiceProject.Models.Enums.SubscriptionEnumName).values()}" th:value="${s}" th:text="${s}">Subscription Type</option>
                </select>
                <small  id="nameError" class="invalid-feedback">
                    Subscription type could not be blank.
                </small>
            </div>
        </div>

        <div class="form-group">
            <input type="submit"
                   class="btn"
                   id="changeSubscriptionType"
                   value="Change Subscription Type"/>
        </div>

    </form>

</div>

</section>
<script th:src="@{/Js/ChangeSubscription.js}"></script>

<div>
    <footer></footer>
</div>
</body>
</html>
