<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}"></head>


<body>

<div th:replace="~{fragments/navbar :: navbar}">
  Navbar
</div>

<div class="container">
  <h2 class="text-center text-white">A page for clients</h2>
</div>

<div class="jumbotron-center">

  <h1 style="color:black;">

    <a  class="btn btn-outline-primary" th:text="|Distance: {} Cost:{} after {15min}|"></a>



  </h1>



<div>
  <footer></footer>
</div>
</body>
</html>
