<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}"></head>


<body>

<div th:replace="~{fragments/navbar :: navbar}">
  Navbar
</div>
<div>

  <div class="container">
    <h2 class="text-center text-white">A page for clientDash</h2>
  </div>


</div>


<div class="card">
<!--  <img src="..." class="card-img-top" alt="...">-->

  <div class="card-body">
    <h5 class="card-title">Order Confirmationm</h5>
    <p class="card-text">Your order is confirmt</p> <---да сложа иф ----->
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>


<div>
  <footer></footer>
</div>

</body>
</html>