<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}"></head>


<body>

<div th:replace="~{fragments/navbar :: navbar}">
  Navbar
</div>

<input type="hidden" id="driverId" name="driverId" th:object="${driver}" th:value="${driver.id}">
<div>

  <div class="container">
    <h2 class="text-center text-white">A page for driversDash</h2>
  </div>


</div>

<div  class="container">
  <div class="list-group">
    <span id="orderTask" class="list-group-item">
      text here
      <button class="btn btn-outline-secondary" type="button" id="button-addon2">Take task</button>
    </span>
  </div>

</div>

<div id="task" class="card-box">
<!--  <img src=${album.imageUrl}>-->
  <div>
    <div class="text-center">
      <p class="from">Address from</p>
      <p class="to">Address to</p>
    </div>
    <div class="btn-group">
      <a href="/details" id="details">Done</a>
    </div>
  </div>

</div>



<script th:src="@{/Js/Driver.js}"></script>
<div>
  <footer></footer>
</div>

</body>
</html>
