<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}"></head>


<body>

<div th:replace="~{fragments/navbar :: navbar}">
  Navbar
</div>
<div>
<div class="container">
  <h2 class="text-center text-white">A page for order</h2>
</div>



<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <form id=orderForm method="POST"
          th:action="@{/orders}" >

      <div  class="container">
        <label for="uname"><strong>Address to:</strong></label>
        <input type="text" placeholder="Enter address" name="uname" required>
        <label for="psw"><strong>Address from:</strong></label>
        <input type="text" placeholder="Enter address" name="uname" required>
        <label for="psw"><strong>Passengers:</strong></label>
        <input type="int" placeholder="Enter number" name="num" required>
      </div>


      <a href="#" type="submit" class="btn btn-primary">Order</a>
    </form>
</div>

<div class="jumbotron">

  <h1 style="color:black;">

    <a  class="btn btn-outline-primary" th:text="|Distance: {} Cost:{} after {15min}|"></a>



  </h1>

</div>

  <scrip src="./resources/static/Js/Orders.js"></scrip>

</div>
<div>
  <footer></footer>
</div>

</body>
</html>
